<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    <li>IDE (통합개발환경) : SpringToolsSuite 4 & IntelliJ IDEA</li>
    <li>language & version : java 17</li>
    <li>jdK version : 오라클 openJDK 17.0.2</li>
    <li>DB & Driver : Oracle, ojdbc8 (OracleXE184_Win64) </li>
    <li>Servlet engine : [Apache Tomcat/10.1.20]</li>
    <li>Build type :  gradle - Groovy</li>
    <li>적용라이브러리 : lombok, JDA, thymeleaf(템플릿 엔진) </li>
    <li>설계방법 : 레이어드 아키텍처, controller - model(dto, service) - jpa (entity, repository)</li>
</ul>
</body>
</html>