<!DOCTYPE xmlns:th="http://www.thymeleaf.org">
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Test JPA II</title>
    <style>
        table, th, td {
            border: 1px solid #ddd;
        }

        table {
            width:400px;
            border-collapse: collapse;
        }

        th, td {
            padding: 8px;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        td {
            text-align: center;
        }

        div#listarea{
            float:left;
        }

        div#inputarea{
            width: 400px;
            height: 300px;
            border: 1px solid darkred;
            margin-left: 400px;
        }
    </style>

    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function(){
            /* 새로운 공지 top3, notice 테이블의 전체 목록 조회 출력
            $.ajax({
                url: "/notices",
                type: "GET",
                dataType: "json",
                success: function(data){
                    console.log("1. success : " + data);

                    //object --> string
                    var str = JSON.stringify(data);
                    console.log("2. stringify : " + str);

                    //string --> json
                    var json = JSON.parse(str);
                    console.log("3. parse : " + json);

                    count = 1;
                    values = "";
                    for(var i in json){
                        if (count == 4) {
                            break;
                        }
                        values += "<tr>"
                            + "<td>" + json[i].boardNum + "</td>"
                            + "<td style='text-align:left;'><a href='/boardView/" + json[i].boardNum + "'>" + json[i].boardTitle + "</a></td>"
                            + "<td>" + json[i].boardWriter + "</td>"
                            + "</tr>";
                        count++;
                    }

                    $('#nlist').html($('#nlist').html() + values);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });  //ajax
            */

            // 인기게시글 top3, board 테이블의 전체 목록 조회 출력
            $.ajax({
                url: "/boards/btop3",
                type: "GET",
                dataType: "json",
                contentType:"application/json; charset=UTF-8",
                success: function(data){
                    console.log("1. success : " + data);

                    //object --> string
                    var str = JSON.stringify(data);
                    console.log("2. stringify : " + str);

                    //string --> json
                    var json = JSON.parse(str);
                    console.log("3. parse : " + json);

                    count = 1;
                    values = "";
                    for(var i in json){
                        values += "<tr>"
                            + "<td>" + json[i].boardNum + "</td>"
                            + "<td style='text-align:left;'><a href='/boardView/" + json[i].boardNum + "'>" + json[i].boardTitle + "</a></td>"
                            + "<td>" + json[i].boardReadCount + "</td>"
                            + "</tr>";
                        count++;
                    }

                    $('#toplist').html($('#toplist').html() + values);
                    //$('#toplist').append(values);
                },
                error: function(jqXHR, textStatus, errorThrown){
                    console.log("error : " + jqXHR + ", " + textStatus + ", " + errorThrown);
                }
            });  //ajax
        });
    </script>
</head>
<body>

[ <a href="/">Home</a> | <a href="/boardpage">board</a> | <a href="/noticepage">notice</a> | <a href="/memberpage">member</a> ]

<hr>
    <h1>SpringBoot JPA Test II Project</h1>
    <h2><a href="/boardpage">board service</a></h2>
    <h2><a href="/noticepage">notice service</a></h2>
    <h2><a href="/memberpage">member service</a></h2>
<hr>

    <!-- 조회수 많은 인기게시글 3개 출력 : ajax -->
    <div id="nlistarea" style="float:left;border:0px solid navy;padding:5px;margin:5px;margin-left:20px;">
        <h4>새로운 공지</h4>
        <table id="nlist">
            <tr><th>번호</th>
                <th>제목</th>
                <th>조회수</th>
            </tr>
        </table>
    </div>


    <!-- 조회수 많은 인기게시글 3개 출력 : ajax -->
    <div id="listarea" style="float:left;border:0px solid navy;padding:5px;margin:5px;margin-left:20px;">
        <h4>인기 게시글</h4>
        <table id="toplist">
            <tr><th>번호</th>
                <th>제목</th>
                <th>조회수</th>
            </tr>
        </table>
    </div>

</body>
</html>