<!DOCTYPE xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <script type="text/javascript" src="/js/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(function(){

        });
    </script>
</head>
<body>

[<a href="/boards">board</a>]
<hr>
    <h1>Spring Boot JPA Test</h1>
    <hr>
    <table>
        <tr>
            <th><label>번호</label></th>
            <td><input type="text" name=""></td>
        </tr>
    </table>

</body>
</html>