<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 마이바티스는 sql 구문에 사용되는 값이 null 이면 에러 발생함,
		null 을 사용할 수 있게 하려면 아래의 설정을 추가함
	 -->
	<settings>
	 	<setting name="jdbcTypeForNull" value="NULL" />
	 	<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
	 	<setting name="cacheEnabled" value="false" />
	 </settings>

	<!-- 존재하지 않는 클래스와 매퍼파일을 먼저 등록 설정하면 톰켓 구동 안함 : 에러 발생함 -->
	<typeAliases>		
		<typeAlias type="com.boot.test.dto.Board" alias="Board" />				
	</typeAliases>
	
	
</configuration>
